---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<p>Hello this is index page</p>

	<p>You can go here:</p>
	<ul>
		<li><a href="/enemies">Enemies</a></li>
	</ul>
</BaseLayout>
